html

*{
    margin 0
    padding 0
}

body 
    overflow hidden
    pointer-events none

/**
 * CANVAS
 */
.canvas
    z-index -1
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    canvas
        position absolute
        top 0
        left 0
        pointer-events auto

/*
 * CONTAINER MENU
 */

.background
    z-index -2
    position absolute
    box-sizing border-box
    padding 20px
    width 100vw
    height 100vh
    display flex
    justify-content center
    align-items center

    h1 
        font-family 'Work Sans', sans-serif;
        font-size 200px
        text-transform uppercase
        color #E8C7D630 
        line-height 200px

.menu
    box-sizing border-box
    padding 20px
    width 100vw
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center

    h1 
        font-family 'Work Sans', sans-serif;
        font-size 30px
        text-transform uppercase
        color black
